{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Branches: Prabha Vacation</title>
    <link rel="stylesheet" href= {% static "prabhaApp/branches.css" %} >
</head>

<body>
    <nav>
        <h1 class="spp">Prabha Vacations</h1>
        <p class="tag">Families That Vacation Together, Stay Together.</p>
    </nav>
    <main>
        <div>
            <a class="home" href="/main">Back to Home</a>
            <p><h1 class="branchheading">We have following branches.</h1></p>
            <h3 class="branchsub">Across India</h3>
            <ul>
                <li class="branchlist">Kolhapur</li>
                <li class="branchlist">Delhi</li>
                <li class="branchlist">Mumbai</li>
                <li class="branchlist">Pune</li>
                <li class="branchlist">Chennai</li>
                <li class="branchlist">Kolkata</li>
                <li class="branchlist">Keral</li>
            </ul><br>

            <h3 class="branchsub">Across Globe</h3>
            <ul>
                <li class="branchlist">London</li>
                <li class="branchlist">Paris</li>
                <li class="branchlist">New York</li>
                <li class="branchlist">Las Vegas</li>
                <li class="branchlist">Japan</li>
            </ul>
        </div>
    </main>
</body>

</html>