{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact: Prabha Vacation</title>
    <link rel="stylesheet" href= {% static "prabhaApp/contact_us.css" %} >
</head>
<body>
    <nav >
        <h1 class="spp">Prabha Vacations</h1>
        <p class="tag">Families That Vacation Together, Stay Together.</p>
    </nav>
    <main>
        <a class="home" href="/main">Back to Home</a>
        <div>
            <p><h1 class="contactheading" >India Main Branch</h1></p>
            <p class="contactsub">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magni assumenda atque quaerat rem suscipit aliquam? Asperiores debitis pariatur corrupti!</p>
        </div>
        <div>
            <p><h1 class="contactheading">Abroad main Brach</h1></p>
            <p class="contactsub">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure magni, amet laboriosam molestias pariatur fuga obcaecati est nesciunt recusandae facilis!</p>
        </div>
    </main>
</body>
</html>