{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prabha Vacation - Perfect Planning with perfect destination</title>
    <link rel="stylesheet" href=  {% static "prabhaApp/main.css" %} >
   
</head>

<body>
    <nav >
        <h1 class="spp">Prabha Vacations</h1>
        <p class="tag">Families That Vacation Together, Stay Together.</p>
    </nav>
    <header>
        
        <h2 class="frpage">We Plan Your Dreams</h2>
       
            <div>
                <ul class="mainlist">
                    <li><a href="/about_us" target="__blank">About us</a></li>
                    <li><a href="/vacation_plans" target="__blank">Vacation Plans</a></li>
                    <li><a href="/branches" target="__blank">Our Branches</a></li>
                    <li><a href="/contact_us" target="__blank">Contact us</a></li>
                </ul>
            </div>
        
    </header>

    <main>
        
        <span class="frontimage">
            <img src= {% static "prabhaApp/vacc.jpg" %}  alt="Vacation Image" width="1000px">
        </span>
        <section class="frlorem"><br>
            The one big travel trend in 2022 would be eco-friendly destinations. People have been cooped up in their homes & cities too long now because of fluctuating lock down scenarios. And big city breaks have become a thing of past! Everyone wants to have as much facetime with nature as possible.
        </section>
        <article class="frlorem">
            I believe a big trend of 2022 will be nature-based tourism, where people prioritise destinations that offer naturally socially-distanced outdoor experiences. With this growing consciousness, people are also likely to choose transport, accommodations and activities with a lower carbon footprint - that are gentler on the planet.
        </article>
        <aside class="frlorem">
            With the new mutations of Covid coming up and rising, we’ll see similar trends continuing. Hostels offering long stay options with high-speed internet will become more popular. We will see a rise in weekend getaway trips like nature retreats & luxury resorts around big metro cities. People will most likely choose road trips over other means of travel to be safer.

        </aside>


    </main>
    <footer class="frlorem">
        Virtual holidays are still a long way away, but in this year, I feel the trend will be of 100% pre booked trips in covid safe zones and also luxury stays in domestic holidays. The disposable income that people would otherwise spend on visas and international flights will now be used in domestic travel, so naturally themed vacations or luxury resorts and bungalows are the way to go.
</body>

</html>