{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Plans: Prabha Vacations</title>
    <link rel="stylesheet" href= {% static "prabhaApp/vacation_plans.css" %} >
</head>
<body>
    <nav >
        <h1 class="spp">Prabha Vacations</h1>
        <p class="tag">Families That Vacation Together, Stay Together.</p>
    </nav>
    <main>
        <a class="home" href="/main">Back to Home</a>
        <div>
            <p><h1 class="planhead">Our Vacation Plans</h1></p>
            <p><h3 class="plansubhead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ea enim illum maxime, commodi exercitationem! Non in dicta voluptas quo  id. </h3></p>

            <p class="vacvideo"><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/jU7ZyViNu2U?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen aria-controls="" ></iframe></p>
        </div>
        <div>
            <p class="planhead">List of our Plans</p>

            <ul>
                <li class="vaclist">VIP Plan</li>
                <li class="vaclist">Regular Plan</li>
                <li class="vaclist">Basic Plan</li>
                <li class="vaclist">Customised Plan</li>
            </ul>
        </div>
        <div>
            <p class="planhead"><a href="/vacation_form" target="__blank">Click Here to fill the vacation form</a></p>
        </div>

    </main>
</body>
</html>